<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>This data set is on historical inflation rates for the United States
           from 1914 to 2016, recorded monthly. For the most part, the data set
           is complete, coherent, and correct. I assessed the data to ensure no
           values were missing, the numerical values made sense relative to the context,
           and there were minimized measurement errors.</a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p>The data set is on historical inflation rates in the United States from 1914 to 2016. 
	   The Federal Reserve System, or the central bank of the US, was founded on December 23, 
	   1913 to supervise and regulate financial institutions at a national level. Hence, 
	   the first recorded inflation rate was January 1914, which is the first number in my data 
	   set. Although the data set claims to provide rates until 2016, it does not provide rates 
	   for the months of February till December of 2016. There are 11 missing values at the end. 
	   I assessed this in the Wrangler tool. I filled it in using data from the Bureau of Labor 
	   Statistics. In terms of inflation data, I believe this data set is fairly complete on 
	   it’s own. However, for users who are looking to analyze the economy more carefully during
	   this century, it would be beneficial to add Gross Domestic Product data as well as labor 
	   market data. Typically, these three pieces of information are tied together to assess 
	   behaviors and trends in the economy.</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p>For the most part, I believe the data is coherent. The numerical values 
	   span from -10.7 to 20.7, which is a fairly large distribution of numbers 
	   for the inflation rate. What I find most fascinating is that one is able 
	   to attribute large historical and political events at times when the 
	   inflation rate was extremely volatile (either high or low). For example, 
	   one of the largest inflation rates was in December 1918, which was also 
	   the end of World War 1. Also, the fact that each numerical value doesn’t 
	   jump larger than a percentage point from month to month, makes sense to me. 
	   Inflation rates do not drastically change from month to month. In order 
	   to help me understand and interpret the data set better, I graphed it into 
	   a line chart to hone in on the extreme values. I then verified these “extreme” 
	   values with other sources to check whether they were accurate.</p>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p>Initially, I did a scan of the data to see if I could identify outliers or numbers 
	   that looked incorrect. The Average column contained a few 0’s, which I immediately 
	   knew was incorrect. I also verified my data against the data from the bureau of the 
	   labor statistics. Also the fact that each numerical value does not jump larger 
	   than a percentage point from month to month makes me believe the data is correct. 
	   Biases could have occurred when the data was recorded itself.</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
